<form [formGroup]="signupForm.form" (ngSubmit)="saveSignUp()" class="needs-validation" [hidden]="submitted" novalidate>
    <div [hidden]="!validToken">
        <div class="modal-content upgrade-content">

            <div class="modal-header title-container">
                <h4 class="white">TOP GRILLIN' UPGRADE</h4>
            </div>

            <div class="modal-body">
                <div class="wise-iframe-wrapper">
                    <iframe width="100%" height="262px" src="https://www.youtube.com/embed/UVxYuw0h8aY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <hr class="form-line">
                <h5 class="white title-container subtitle-container">{{accountName}}</h5>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-star"></i></span>
                    <select class="form-select" (change)="changePlan($event)" formControlName="plan"
                        [ngClass]="invalidCss(signupForm.form.controls['plan'])">
                        <option value="" selected>Subscription Plan</option>
                        @for (plan of plans; track $index) {
                        <option [value]="plan.value">{{plan.text}}</option>
                        }
                    </select>
                    @if (invalid(signupForm.form.controls['plan'])) {
                        <div class="invalid-tooltip left-error-tip">Subscription plan is required</div>
                    }
                </div>
                <hr class="form-line">

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                    <div class="form-control" style="height:auto; padding:12px;">
                        <ngx-stripe-card [options]="cardOptions" (change)="onCardChange($event)"></ngx-stripe-card>
                    </div>
                </div>
                @if (cardErrorMessage) {
                    <div class="text-danger mb-3" style="font-size: 14px;">{{ cardErrorMessage }}</div>
                }

                @if (selectedPrice != '') {
                    <div class="input-group mb-3 form-text">
                        Terms: By clicking the "Upgrade" button below you agree to an
                        initial subscription payment of
                        {{selectedPrice}} and billed {{selectedFrequency}} with the option to cancel any time.
                    </div>
                }
            </div>

            <div class="modal-footer">
                <input type="hidden" formControlName="memberId">
                <input type="hidden" formControlName="firstName">
                <input type="hidden" formControlName="lastName">
                <input type="hidden" formControlName="email">
                <input type="hidden" formControlName="phone">
                <input type="hidden" formControlName="sms">
                <input type="hidden" formControlName="password">
                <button type="submit" class="btn btn-primary center" [disabled]="processingSignup">
                    @if (processingSignup) {
                        <i class="fas fa-circle-notch fa-spin"></i>
                    }
                    &nbsp; Upgrade
                </button>
            </div>
        </div>
    </div>
</form>

<div [hidden]="!submitted">
    <div class="modal-content upgrade-content">
        <div class="modal-header">
            Welcome to the VIP!
        </div>
        <div class="modal-body">
            <div class="signin-logo">
                <img src="../../../../assets/images/signup-logo.png" alt="VIP logo" />
            </div>
            <br>
            <p class="white">{{confirmation}}</p>
        </div>
        <div class="modal-footer" style="background: #303030;">
        </div>
    </div>
</div>

<div class="modal-content upgrade-content" [hidden]="validToken">
    <div class="modal-header">
        App Upgrade Unavailable
    </div>
    <div class="modal-body">
        <div class="signin-logo">
            <img src="../../../../assets/images/signup-logo.png" alt="VIP logo" />
        </div>
        <br>
        <p class="white">Sorry, upgrades are currently unavilable through the app. However, you can still upgrade by visiting
            the Skratchbastid webstie &#64; <a href="https://skratchbastid.com" target="_blank">https://skratchbastid.com</a>.
            Once you upgrade, simply come back to the app, sign out of the app, then sign back in, and you will have
            full access. Sorry for the inconvience, we are working having this fixed ASAP.
            Thank you for the support!</p>
    </div>
    <div class="modal-footer" style="background: #303030;">
    </div>
</div>