@font-face {font-family: "Druk Wide Bold";
    src: url("./Druk Wide Bold.eot"); /* IE9*/
    src: url("./Druk Wide Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./Druk Wide Bold.woff2") format("woff2"), /* chrome、firefox */
    url("./Druk Wide Bold.woff") format("woff"), /* chrome、firefox */
    url("./Druk Wide Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("./Druk Wide Bold.svg#Druk Wide Bold") format("svg"); /* iOS 4.1- */
  }