<div class="w-full min-h-[100vh] bg-[#F7FAFC] flex flex-col items-center justify-center">
  <div class="w-full h-full flex items-center justify-center">
    <div class="bg-white rounded shadow-xl p-12 w-11/12 sm:w-8/12 lg:w-[35%] flex flex-col">
      <span class="font-semibold text-2xl">Sign into your account</span>

      <!-- Optional Alert Message -->
      <div class="hidden bg-green-100 text-green-700 text-sm my-3 p-3">
        We're in the process of a major site upgrade - if you have any issues, please email
        <a class="underline" href="mailto:holler@skratchbastid.com">holler&#64;skratchbastid.com</a>
        and we'll get you sorted out!
      </div>

      <form (ngSubmit)="onLogin()" class="flex flex-col space-y-4">
        <!-- Email Field -->
        <div>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
              </svg>
            </div>
            <input
              [(ngModel)]="email"
              id="email"
              name="email"
              type="email"
              placeholder="Email"
              class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg bg-white focus:outline-none focus:ring-2 focus:ring-[#FF5941]"
              required
            />
          </div>
        </div>

        <!-- Password Field -->
        <div>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"/>
              </svg>
            </div>
            <input
              [(ngModel)]="password"
              id="password"
              name="password"
              type="password"
              placeholder="Password"
              class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg bg-white focus:outline-none focus:ring-2 focus:ring-[#FF5941]"
              required
            />
          </div>
        </div>

        <!-- Login Button -->
        <button type="submit" class="w-full bg-[#FF5941] text-white p-2 rounded-lg">
          <span>Login</span>
        </button>
      </form>

      <!-- Forgot Password Link -->
      <a href="/forgot-password" class="text-sm text-slate-600 mt-4">Forgot your password?</a>
    </div>
  </div>
</div>