/* BBQ Recap Carousel Component Styles */
.scrollbar-hidden {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  /* WebKit */
}