@import "../theme.scss";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet + * {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

router-outlet + * > app-footer {
  margin-top: auto;
}
