$primary: #212529;
$body-bg: #060606;
$secondary: #FB5343;
$secondary1: #6549D5;
$secondary2: #ff3333;
$secondary3: #bd0000;
$secondary-dark: #190b50;
$dark: #000000;
$contrast: #059DFF;
$contrast1: #E33FA1;
$contrast-light: #36C6F0;
$link: #00d3e6;
$title-font: "Poppins", sans-serif;
$default-font: 'Circular Std';
$footer-height: 6.5rem;
$theme-colors: (
  "primary": $primary
);