@import "../../../../theme.scss";

.player-footer {
  position: fixed;
  z-index: 2147483647;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: visible;
  text-align: center;
}

.player {
  margin: 0 auto;
  width: 90%;
  max-width: 1460px;
  //line-height: 52px;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.player-play {
  margin: 0;
  margin-top: 12px;
  margin-left: -15px;
  padding: 0;
  width: 60px;
}

.player-img {
  margin: 0;
  margin-top: 0;
  //margin-top: 5px;
  //padding: 5;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden !important;
  //border-radius: 6px;
}

.player-audio-img {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;

  img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 478px;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
  }
}

.player-img>img {
  //width: 90px;
  height: 100px;
  //border-radius: 6px;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.player-controls-container {
  width: 155px;
  margin: 0 auto;
  padding: 0;
  height: 100px;
}

.player-details {
  width: 135px;
  margin: 0;
  padding: 0;
  height: 50px;
}

.player-controls {
  width: 200px;
  margin: 0;
  padding: 0;
  gap: 6px;
  display: flex;
  height: 50px;
}

.favorite-icon {
  color: $secondary3;
}

.cursor-pointer {
  cursor: pointer;
}

.player-control {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  // width: 45px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 14px;
  color: #fff;
  z-index: 2147483647;

  >* {
    width: 35px !important;
  }

  text-align: center;

  >* {
    margin: 0 auto;
  }
}

.fav-icon {
  cursor: pointer;
  z-index: 2147483647;
}

.player-jump {
  cursor: pointer;
  z-index: 2147483647;
}

.player-jump-secs {
  clear: both;
  color: #fff;
  font-size: 12px;
  margin: -6px auto;
}

.marquee {
  background: none !important;
  color: #fff;

  >* {
    margin: 0;
    padding: 0;
  }

  >h5 {
    margin-top: -16px;
  }

  >p {
    margin-top: -8px;
  }
}

.player-time {
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  position: absolute;
  margin-top: -40px !important;
  z-index: 2147483647;
}

.total-time {
  position: absolute;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  z-index: 2147483647;
  margin-top: 10px;
}

.player-wave {
  margin: 0;
  padding: 0;
  width: calc(100% - 340px);
}

.player-close {
  width: 20px;
  margin: 0;
  margin-left: -5px;
  padding: 0;
}

.player-close-container {
  cursor: pointer !important;
  z-index: 2147483647;
  display: block;
  width: 36px;
  height: 30px;
  //overflow: hidden;
  color: #fff;
  margin-top: 5px;
}

.player-play-icon {
  font-size: 50px;
  cursor: pointer;
  color: #fff;
  z-index: 2147483647;
}

.player-loading {
  cursor: wait !important;
}

.fav-active i,
.fav-active svg {
  color: $secondary3;
}

//==============Responsive Styles================= 
/* Extra Extra Extra Extra Small */
@media (max-width: 476px) {
  .player-container {
    width: 100%;
  }
}

/* Extra Extra Extra Small */
@media (min-width: 477px) {
  .player-container {
    width: 100%;
  }
}

/* Extra Small */
@media (min-width: 559px) {
  .player-container {
    width: 100%;
  }
}

/* Small */
@media (min-width: 768px) {
  .player-container {
    width: 100%;
  }
}

/* Medium */
@media (min-width: 992px) {
  .player-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    max-width: 1460px;
  }
}

/* Large */
@media (min-width: 1382px) {
  .player-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    max-width: 1460px;
  }
}

/* Extra Large */
@media (min-width: 1460px) {
  .player-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    max-width: 1460px;
  }
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.player-time-audio-start {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  z-index: 2147483647;
  position: absolute;
  bottom: -15px;
  left: 40px;
}

.music-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2147483645;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #313131;
}

.music-modal-mobile {
  position: fixed;
  height: 100svh;
  width: 100svw;
  z-index: 2147483645;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #262626;
}

.player-time-audio-end {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  z-index: 2147483647;
  position: absolute;
  bottom: -15px;
  right: 0;
}

.title-modal-audio {
  color: white;
  font-size: 16px;
}

.title-audio {
  color: white;
  font-size: 18px;
}

.button-audio {
  position: absolute;
  right: 0px;
  top: 0px;
}

.artist-audio {
  font-size: 16px;
  color: white;
}

.info-audio {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}

.player-wave-audio {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  position: relative;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}

.player-close {
  width: 20px;
  margin: 0;
  margin-left: -5px;
  padding: 0;
}

.share-audio-desktop {
  // position: absolute;
  // right: 0;
  // bottom: 0;
  // color: white;
  // margin-right: -15px;
}

/* crazy batman newspaper spinny thing */
.rotate {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.rotate.in {
  transform: rotate(1800deg);
  transition: all 1.5s;
}